header,#widget-tree, footer, #backTop, #floating-toc-btn{
    display: none !important;
}

::-webkit-scrollbar {
    display: none;
}

main.post-container {
    width: 96%;
    margin: 0 auto;
}

#artDetail .card {
    margin-top: 7px;
}

#articleContent{
    padding-bottom: 400px;
}

div#main-content.l9 {
    width: 79%;
}

#toc-aside{
    top: 0px;
    width: 20%;
}

.toc-widget {
    width: 100%;
    height: 435px;
    overflow-y: auto;
}

.img-item{
    display: inline-block;
    width: 32%;
    margin-left: 1%;
}
.img-item > img{
    width: 100% !important;
    margin: 0 !important;
}

/* on the phone */
@media only screen and (max-width: 601px) {
    #floating-toc-btn{
        display: block !important;
        bottom: 10px;
    }
    
    main.post-container {
        width: 100%;
        position: relative;
        top: 51px;
    }
    div#main-content.l9 {
        width: 100%;
    }

    div#main-content {
        padding: 4px;
    }
    #artDetail .card {
        padding-bottom: 500px;
    }

    .toc-widget {
        width: 80%;
        height: 500px;
        overflow-y: auto;
        bottom: -20px;
        margin-left: 1%;
        box-shadow: 0px 0px 8px 4px #00000045;
    }
    body.DarkMode .toc-widget {
        box-shadow: 0px 0px 8px 4px #ffffff45;
    }

}
